<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div
      class="h-screen overflow-y-scroll overflow-x-hidden bg-gradient-to-b from-red-500 to-blue-500"
      style="scroll-snap-type: y mandatory;">
      <div style="scroll-snap-align: start;">
        <h1>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. At
          praesentium unde fugit ex porro quam ipsum, eius, ratione cum illum,
          cumque provident eveniet optio error nobis! Minus eaque quasi
          laudantium.
        </h1>
        <h1>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. At
          praesentium unde fugit ex porro quam ipsum, eius, ratione cum illum,
          cumque provident eveniet optio error nobis! Minus eaque quasi
          laudantium.
        </h1>
        <h1>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. At
          praesentium unde fugit ex porro quam ipsum, eius, ratione cum illum,
          cumque provident eveniet optio error nobis! Minus eaque quasi
          laudantium.
        </h1>
        <h1>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. At
          praesentium unde fugit ex porro quam ipsum, eius, ratione cum illum,
          cumque provident eveniet optio error nobis! Minus eaque quasi
          laudantium.
        </h1>
        <h1>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. At
          praesentium unde fugit ex porro quam ipsum, eius, ratione cum illum,
          cumque provident eveniet optio error nobis! Minus eaque quasi
          laudantium.
        </h1>
        <h1>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. At
          praesentium unde fugit ex porro quam ipsum, eius, ratione cum illum,
          cumque provident eveniet optio error nobis! Minus eaque quasi
          laudantium.
        </h1>
        <h1>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. At
          praesentium unde fugit ex porro quam ipsum, eius, ratione cum illum,
          cumque provident eveniet optio error nobis! Minus eaque quasi
          laudantium.
        </h1>
        <h1>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. At
          praesentium unde fugit ex porro quam ipsum, eius, ratione cum illum,
          cumque provident eveniet optio error nobis! Minus eaque quasi
          laudantium.
        </h1>
        <h1>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. At
          praesentium unde fugit ex porro quam ipsum, eius, ratione cum illum,
          cumque provident eveniet optio error nobis! Minus eaque quasi
          laudantium.
        </h1>
        <h1>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. At
          praesentium unde fugit ex porro quam ipsum, eius, ratione cum illum,
          cumque provident eveniet optio error nobis! Minus eaque quasi
          laudantium.
        </h1>
        <h1>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. At
          praesentium unde fugit ex porro quam ipsum, eius, ratione cum illum,
          cumque provident eveniet optio error nobis! Minus eaque quasi
          laudantium.
        </h1>
        <h1>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. At
          praesentium unde fugit ex porro quam ipsum, eius, ratione cum illum,
          cumque provident eveniet optio error nobis! Minus eaque quasi
          laudantium.
        </h1>
        <h1>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. At
          praesentium unde fugit ex porro quam ipsum, eius, ratione cum illum,
          cumque provident eveniet optio error nobis! Minus eaque quasi
          laudantium.
        </h1>
        <h1>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. At
          praesentium unde fugit ex porro quam ipsum, eius, ratione cum illum,
          cumque provident eveniet optio error nobis! Minus eaque quasi
          laudantium.
        </h1>
        <h1>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. At
          praesentium unde fugit ex porro quam ipsum, eius, ratione cum illum,
          cumque provident eveniet optio error nobis! Minus eaque quasi
          laudantium.
        </h1>
        <h1>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. At
          praesentium unde fugit ex porro quam ipsum, eius, ratione cum illum,
          cumque provident eveniet optio error nobis! Minus eaque quasi
          laudantium.
        </h1>
        <h1>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. At
          praesentium unde fugit ex porro quam ipsum, eius, ratione cum illum,
          cumque provident eveniet optio error nobis! Minus eaque quasi
          laudantium.
        </h1>
        <h1>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. At
          praesentium unde fugit ex porro quam ipsum, eius, ratione cum illum,
          cumque provident eveniet optio error nobis! Minus eaque quasi
          laudantium.
        </h1>
        <h1>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. At
          praesentium unde fugit ex porro quam ipsum, eius, ratione cum illum,
          cumque provident eveniet optio error nobis! Minus eaque quasi
          laudantium.
        </h1>
      </div>
      <div
        class="h-screen border-2 border-black grid place-items-center"
        style="scroll-snap-align: start;">
        CIAO
      </div>
      <div
        class="h-screen border-2 border-black grid place-items-center"
        style="scroll-snap-align: start;">
        CIAO
      </div>
      <div
        class="h-screen border-2 border-black grid place-items-center"
        style="scroll-snap-align: start;">
        CIAO
      </div>
      <div
        class="h-screen border-2 border-black grid place-items-center"
        style="scroll-snap-align: start;">
        CIAO
      </div>
      <div
        class="h-screen border-2 border-black grid place-items-center"
        style="scroll-snap-align: start;">
        CIAO
      </div>
      <div
        class="h-screen border-2 border-black grid place-items-center"
        style="scroll-snap-align: start;">
        CIAO
      </div>
      <div
        class="h-screen border-2 border-black grid place-items-center"
        style="scroll-snap-align: start;">
        CIAO
      </div>
      <div
        class="h-screen border-2 border-black grid place-items-center"
        style="scroll-snap-align: start;">
        CIAO
      </div>
    </div>
  </body>
</html>
