<div class="fixed top-1/2 left-1/2 -translate-x-[55%] xs:-translate-x-1/2 -translate-y-1/2 w-[180vw] max-xs:rotate-45 opacity-10 -z-10">
  <img
  class=" w-full h-full max-h-[90vh]"
  src="/logo-white.svg"
  alt="logo drummers to watch"
  />
</div>