---
import { getTranslation } from "../lang.js";
const t = await getTranslation(Astro.url);
---

<footer class="max-w-screen-xl mx-auto p-4">
  <p class="font-medium text-right leading-[1]">
    © {new Date().getFullYear()} Drummers to Watch | {t.misc.rights}
  </p>
</footer>
