---
import { getUrlInfo, getLangLink } from "../lang.js";
interface Props {
  text: string;
  href: string;
}
const { text, href } = Astro.props;
const { pathname, lang } = getUrlInfo(Astro.url);
const langHref = getLangLink(href, lang);
---

<div class="relative">
  {
    href == pathname && (
      <hr class="absolute -bottom-2 left-0 w-full border-violet-400 " />
    )
  }
  <a href={langHref}>{text}</a>
</div>
