---
interface Props {
  text: string;
  href: string;
}
const { text, href } = Astro.props;
let url = Astro.url.pathname;
if (url.endsWith("/")) url = url.slice(0, -1);
---

<div class="relative">
  {
    href == url && (
      <hr class="absolute -bottom-2 left-0 w-full border-violet-400 " />
    )
  }
  <a href={href}>{text}</a>
</div>
